* {
    margin: auto;
    padding: auto;
    font-family: Arial, Helvetica, sans-serif;
}

/*------------------------------------------------------------------------------------------------------------------------*/
/*                                                  Top do Site                                                           */
/*------------------------------------------------------------------------------------------------------------------------*/
header {
    height: 250px;
    background-color: rgb(10, 5, 59);
    border-top: solid black;
}
/*------------------------------------------------------------------------------------------------------------------------*/
#logo {
    float: left;
    width: 250px;
    margin: 50px;
    height: 100px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}
/*-----------------------------------------------------------------------------------------------------------------------------*/
#divBusca {         /*| Barra pesquisa |*/
    width: 350px;
    height: 32px;
    margin-top: 80px;
    margin-left: 500px;
}
/*-----------------------------------------------------------------------------------------------------------------------------*/
#txtBusca {         /*| Texto pesquisa |*/
    border: none;
    height: 32px;
    width: 343px;
    font-size: 20px;
    padding-left: 5px;
}
/*-----------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------*/
header nav,
header nav ul {                         /*| Menu |*/
    height: 50px;
    display: block;
    margin-top: 88px;
    background-color: #000000;
}
/*-----------------------------------------------------------------------------------------------------------------------------*/
header nav ul li {                       /*| Menu |*/
    float: left;
    list-style-type: none;    /*marcador da listagem - remove o ponto*/
}
/*-----------------------------------------------------------------------------------------------------------------------------*/
header nav ul li a {                    /*| Menu |*/
    height: 37px;
    display: block;
    font-size: 21px;
    color: #ffffff;
    padding-top: 13px;
    padding-left: 70px;
    text-align: center;
    padding-right: 70px;
    text-decoration: none;    /* remove o sublinhado */
    background-color: rgb(0, 0, 0);
}

/*-----------------------------------------------------------------------------------------------------------------------------*/
header nav ul li a:hover {              /*| Menu |*/
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-decoration: none;        /*| remove o sublinhado |*/
}
/*-----------------------------------------------------------------------------------------------------------------------------*/
/*                                                       main do Site                                                          */
/*-----------------------------------------------------------------------------------------------------------------------------*/
main {
    height: 596px;
    width: auto;
    padding: 50px;
}
img{
    height: 300px;
    float: left;
}
h1{
    width: 650px;
    border: solid;
    margin-left: 50px;
    float: left;
}
#grana{
    font-size: 100px;
    width: 650px;
    border: solid;
    margin-left: 50px;
    float: left;
    margin-top: 75px;
}
h2{
    margin-top: 350px;
    margin-bottom: 50px;
}
p{
    text-align: justify;
    display: block;
    border: solid;
}


/*-----------------------------------------------------------------------------------------------------------------------------*/
/*                                                       footer do Site                                                        */
/*-----------------------------------------------------------------------------------------------------------------------------*/
footer {
    height: 200px;
    display: block;
    border-bottom: solid;
    background-color: rgb(10, 5, 59);
}

a {
    text-decoration: none;
}

/*-----------------------------------------------------------------------------------------------------------------------------*/
#f1 {
    height: 100px;
    margin-top: 50px;
    margin-left: 240px;

}

/*-----------------------------------------------------------------------------------------------------------------------------*/
#f2 {
    height: 100px;
    margin-top: 50px;
    margin-left: 75px;

}

/*-----------------------------------------------------------------------------------------------------------------------------*/
#f3 {
    height: 100px;
    margin-top: 50px;
    margin-left: 75px;

}

/*-----------------------------------------------------------------------------------------------------------------------------*/
#f4 {
    height: 100px;
    margin-top: 50px;
    margin-left: 75px;

}

/*-----------------------------------------------------------------------------------------------------------------------------*/
#f5 {
    height: 100px;
    margin-top: 50px;
    margin-left: 75px;

}