* {
    margin: auto;
    padding: auto;
    font-family: Arial, Helvetica, sans-serif;
}

/*------------------------------------------------------------------------------------------------------------------------*/
/*                                                  Top do Site                                                           */
/*------------------------------------------------------------------------------------------------------------------------*/
header {
    height: 250px;
    background-color: rgb(10, 5, 59);
    border-top: solid black;
}
/*------------------------------------------------------------------------------------------------------------------------*/
#logo {
    float: left;
    width: 250px;
    margin: 50px;
    height: 100px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}
/*-----------------------------------------------------------------------------------------------------------------------------*/
#divBusca {         /*| Barra pesquisa |*/
    width: 350px;
    height: 32px;
    margin-top: 80px;
    margin-left: 500px;
}
/*-----------------------------------------------------------------------------------------------------------------------------*/
#txtBusca {         /*| Texto pesquisa |*/
    border: none;
    height: 34px;
    width: 350px;
    font-size: 20px;
    padding-left: 5px;
}
/*-----------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------*/
header nav,
header nav ul {                     /*| Menu |*/
    height: 50px;
    display: block;
    margin-top: 88px;
    background-color: #000000;
}
/*-----------------------------------------------------------------------------------------------------------------------------*/
header nav ul li {                  /*| Menu |*/
    float: left;
    list-style-type: none;          /*| marcador da listagem - remove o ponto |*/
}
/*-----------------------------------------------------------------------------------------------------------------------------*/
header nav ul li a {                /*| Menu |*/
    height: 50px;
    display: block;
    font-size: 21px;
    color: #ffffff;
    padding-top: 10px;
    padding-left: 70px;
    text-align: center;
    padding-right: 70px;
    text-decoration: none;    /* remove o sublinhado */
    background-color: rgb(0, 0, 0);
}

/*-----------------------------------------------------------------------------------------------------------------------------*/
header nav ul li a:hover {          /*| Menu |*/
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-decoration: none;    /*| remove o sublinhado |*/
}
/*-----------------------------------------------------------------------------------------------------------------------------*/
/*                                                       main do Site                                                          */
/*-----------------------------------------------------------------------------------------------------------------------------*/
main {
    margin-top: 3px;
    padding: 50px;
    display: block;
    height: 1198px;
}
/*-----------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------*/
#c1 {
    float: left;
    width: 250px;
    height: 345px;
    display: block;
    margin-top: 50px;
    margin-left: 20px;
    background-color: rgb(221, 221, 221);
}



main a{
    display: block;
    color: black;
    font-size: 24px;
    margin-top: 10px;
    margin-left: 10px;
    
}
main a p{
    font-size: 20px;

}

/*-----------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------*/
#c2 {
    float: left;
    width: 250px;
    height: 345px;
    display: block;
    margin-top: 50px;
    margin-left: 50px;

    background-color: rgb(221, 221, 221);

}

/*-----------------------------------------------------------------------------------------------------------------------------*/
#c3 {
    float: left;
    width: 250px;
    height: 345px;
    display: block;
    margin-top: 50px;
    margin-left: 50px;

    background-color: rgb(221, 221, 221);

}

/*-----------------------------------------------------------------------------------------------------------------------------*/
#c4 {
    float: left;
    width: 263px;
    height: 345px;
    display: block;
    margin-top: 50px;
    margin-left: 50px;

    background-color: rgb(221, 221, 221);

}

/*-----------------------------------------------------------------------------------------------------------------------------*/
#produtos {
    height: 200px;
    width: 100%;
}

/*-----------------------------------------------------------------------------------------------------------------------------*/
/*                                                       footer do Site                                                        */
/*-----------------------------------------------------------------------------------------------------------------------------*/
footer {
    height: 200px;
    display: block;
    border-bottom: solid black;
    background-color: #0A053B;
}

footer a {
    text-decoration: none;
    color: #0a053b;
}

/*-----------------------------------------------------------------------------------------------------------------------------*/
#f1 {
    height: 100px;
    margin-top: 50px;
    margin-left: 240px;

}

/*-----------------------------------------------------------------------------------------------------------------------------*/
#f2 {
    height: 100px;
    margin-top: 50px;
    margin-left: 75px;

}

/*-----------------------------------------------------------------------------------------------------------------------------*/
#f3 {
    height: 100px;
    margin-top: 50px;
    margin-left: 75px;

}

/*-----------------------------------------------------------------------------------------------------------------------------*/
#f4 {
    height: 100px;
    margin-top: 50px;
    margin-left: 75px;

}

/*-----------------------------------------------------------------------------------------------------------------------------*/
#f5 {
    height: 100px;
    margin-top: 50px;
    margin-left: 75px;

}